src/main/resources/org/sonar/l10n/core_fr.properties working-tree-encoding=ISO-8859-1
src/main/resources/org/sonar/l10n/l10nfr.properties working-tree-encoding=ISO-8859-1
src/main/resources/org/sonar/l10n/l10nfr_fr.properties working-tree-encoding=ISO-8859-1
src/main/resources/org/sonar/l10n/cayc_fr.properties working-tree-encoding=ISO-8859-1
src/main/resources/org/sonar/l10n/php_fr.properties working-tree-encoding=ISO-8859-1
